.wrapper {
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding: 3px 5px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    background: white;
}

.inner {

}

.rotate {

}

@media (max-width: 768px) {
    .rotate {
        height: 60px !important;
    }

    .rotate img, .rotate div {
        height: 60px !important;
    }
}